:root{
    --fuenteHeading: 'PT sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    
    --primario: #784D3C;
    --blanco: white;
    --negro: black;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2; /*Interlineado*/
}

/*Globales*/

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
}

h1{
    font-size: 4.5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/*Utilidades*/

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/*HEADER*/

.header{
    background-image: url(../img/banner.jpg);
    height: 60rem; /*Primero se elige un tamaño para que aparezca la imagen en si*/
    background-size: cover; /*Cubre todo el fondo con la imagen*/
    background-repeat: no-repeat; /*No repite la imagen a lo ancho de la web*/
    background-position: center center;  /*Al cambiar tamaño de pantalla hace que se muestre 
                                           el centro de la imagen vertical y horizontalmente*/
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}